@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-Thin.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-ExtraLight.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-Light.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-Regular.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-Medium.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-SemiBold.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-Bold.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-ExtraBold.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('/fonts/NeueEinstellung-Black.woff2') format('woff2'),
       url('/fonts/NeueEinstellung-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Neue Einstellung', sans-serif;
  font-size: 16px;
  background-color: #fff3e1;
  background-image: url(./bg-dusty.png);
  background-position: top left; 
  margin: 0;
  padding: 0;
  color: #2f272a;
}

.container {
    display: grid;
    grid-template-rows: 140px auto 50px;
    grid-template-columns: 175px auto;
    gap: 0px;
    margin: 0px auto;
    height: 100vh;
    grid-template-areas:
    "h h"
    "s m"
    "f f";
}

header {
  background-color: #cf5533;
  background-image: url(./texture-woodgrain.png);
  background-repeat: repeat;
  background-size: auto auto;
  color: #2f272a;
  padding: 0px;
  grid-area: h;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0 20px;
}

aside {
    grid-area: s;
    padding: 0px;
    margin-top: 85px;
}

.nav-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px;
}

.nav-list li {
  margin: 10px 0px;
}

.nav-list li a {
  font-family: 'Neue Einstellung', sans-serif;
  font-weight: 600;
  font-size: 26px;
  text-decoration: none;
  color: #2f272a;
  background-color: #eaa133;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 4px 15px;
  display: block;
  text-align: right;
  margin: 0px 24px 18px -10px;
  transition: background-color 0.2s ease, color .2s ease, margin .5s ease;
}

.nav-list li a.active {
  background-color: #1dbdbb;
  color: #fff3e1; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: 0px -20px 18px;
}

.nav-list li a:hover {
  background-color: #1dbdbb;
  color: #fff3e1; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: 0px -20px 18px -10px;
}

main {
  color: #2f272a;
  grid-area: m;
  padding: 50px;
  margin: 0px 30px;
}

header .h {
    display: flex;
}

header .logo img {
  max-width: 225px;
  flex-shrink: 20;
  height: auto;
  margin: 10px 5px;
}

header .text {
  color: #2f272a;
  flex-grow: 1;
  white-space: nowrap;
  text-align: center;
  margin-top: 35px;
  margin-right: 100px;
}

header .text h1, header .text h2 {
  margin: 0;
}

header h1 {
  font-family: 'Neue Einstellung', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

header h2 {
  font-family: 'Neue Einstellung', sans-serif;
  font-weight: 900;
  font-size: 16px;
}

h3 {
  font-family: 'Neue Einstellung', sans-serif;
  font-weight: 800;
  text-align: center;
}

footer {
  background-color: #2f272a;
  color: #fff3e1;
  grid-area: f;
  text-align: center;
  padding: 5px;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}